* {
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

.container {
    background: #F5F6F7;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    text-transform: uppercase;
    margin: 25px;
}

a {
    color: #2F806B;
    text-decoration: none;
}

.menu {
    font-size: 19px;
}

.photo {
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    height: 17px;
    margin-top: 56px;
    text-align: center;
}

#paragraf {
    color: #373737;
    opacity: 1;
    font-size: 16px;
    width: 1059px;
    height: 190px;
    margin: 34px auto;
    margin-top: 34px;
    text-align: center;
}

button {
    background-color: #2F806B;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 12px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}

.footer {
    background: white;
    width: 100%;
    text-align: right;
    margin: 50px auto;
    color: #373737;
    font-size: 22px;
    padding-top: 36px;
    font-weight: bold;
}
.footer p {
    margin-right: 84px;
}