@font-face {
    font-family: "sans-serif", "Verdana", "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/background.png") no-repeat;
    height: 100vh;
    position: relative;
    font-family: "sans-serif","Verdana","Roboto";
    background-size: cover;
}

.logo {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 19px;
    left: 81px;
}

.logo:hover {
    color: #3CB878;
    transition: .5s;
}
.header {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
}

.top-menu {
    position: relative;
    float: right;
    display: block;
    top: 15px;
}

.icon {
    display: inline-block;
    margin-right: 28px;
    height: 20px;
}

.calendar {
    background: url("../img/sprites.png") no-repeat;
    width: 19px;
    background-position: 0 0;
}

.forum {
    background: url("../img/sprites.png") no-repeat;
    width: 28px;
    background-position: -25px 0;
    margin-right: 28px;
}

.journey {
    background: url("../img/sprites.png") no-repeat;
    width: 20px;
    background-position: -60px 0;
    margin-right: 50px;
}

.calendar:hover {
    background-position: 0 -23px ;
    width: 19px;
    height: 19px;
    transition: .5s;
}

.forum:hover{
    background-position: -25px -22px ;
    width: 28px;
    height: 20px;
    transition: .5s;
}

.journey:hover{
    background-position: -60px -22px ;
    width: 20px;
    height: 20px;
    transition: .5s;
}

.welcome {
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
}

.login {
    text-decoration: none;
    color: #3CB878;
}

.sign {
    text-decoration: none;
    color: #3CB878;
    margin-right: 94px;
}

.windows-white {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    border-radius: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container {
    margin: 64px auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.windows-entrans {
    display: block;
    position: relative;
    margin-top: 29px;
}

.line-windows {
    position: absolute;
    border: solid #3CB878;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.sign-up {
    position: absolute;
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
}

.windows-login {
    margin-left: 193px;
    font-size: 14px;
    color: #3CB878;
}

.clearfix {
    clear: both;
}
.button {
    display: block;
    position: relative;
    margin: 62px auto;
}

.facebook-button {
    width: 158px;
    height: 47px;
    background: #305DB8;
    float: left;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 61px;
    border-radius: 3%;
}

.google-button {
    width: 158px;
    height: 47px;
    background: #DF4A32;
    float: right;
    display: block;
    text-decoration: none;
    margin-right: 60px;
    border-radius: 3%;
}

.facebook-f {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    position: absolute;
    right: 17px;
    top: 17px;
}

.google-g {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    position: absolute;
    right: 90px;
    top: 17px;
}

.img-button-fb {
    display: block;
    float: left;
    position: absolute;
    top: 14px;
    bottom: 13px;
    left: 21px;
}

.line-right-fb::after {
    content: "";
    width: 1px;
    height: 28px;
    top: 10px;
    left: 48px;
    opacity: 0.1019;
    display: block;
    position: absolute;
    background-color: #383533;
}

.line-right-google::after {
    content: "";
    width: 1px;
    height: 28px;
    top: 10px;
    right: 169px;
    opacity: .2;
    display: block;
    position: absolute;
    background-color: #383533;
}
.img-button-google {
    display: block;
    float: left;
    position: absolute;
    top: 16px;
    bottom: 15px;
    right: 179px;
}

.or {
    padding-top: 33px;
    text-align: center;
    color: #848484;
    font-size: 14px;
}

.or::before {
    content: "";
    height: 1px;
    width: 135px;
    top: 26%;
    display: block;
    position: absolute;
    background-color: #F4F4F4;
    left: 62px;
}

.or::after {
    content: "";
    height: 1px;
    width: 135px;
    top: 26%;
    right: 64px;
    display: block;
    position: absolute;
    background-color: #F4F4F4;
}

.facebook-button:hover {
    background-color: #264b96;
    transition: .5s;
}

.google-button:hover {
    background-color: #c3412c;
    transition: .5s;
}

.container-form {
    width: 323px;
    margin: 17px auto;
    text-align: center;
}

.input-form {
    width: 305px;
    height: 47px;
    display: block;
    margin-bottom: 8px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    color: #BEBEBE;
    font-size: 14px;
    padding-left: 18px;
}

.input-form::placeholder {
    color: #434343;
}

.input-form:focus {
    font-weight: 600;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
    color: #434343;
}

.checkbox-2 {
    font-size: 14px;
    margin-left: -80px;
}

.check-container {
    margin-top: -9px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .checkbox-2::before {
    content: "\2714";
}

.checkbox-2::before {
    content: "\00A0";
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #F4F4F4;
    color: #39ba78;
    border-radius: 2px;
    vertical-align: baseline;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;

}

.create-account {
    cursor: pointer;
    width: 322px;
    height: 46px;
    color: #fafafa;
    background-color: #3cb878;
    bottom: 32px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.create-account:hover {
    background-color: #329A65;
}

.agree {
    font-size: 14px;
    color: #434343;
}

.terms {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}

.terms:hover {
    text-decoration: underline;
}