@font-face {
    font-family: "Arimo-Regular";
    src: url("../fonts/Arimo-Regular.ttf");
}

body {
    margin: 0;
    font-family: "Arimo-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.container {
    padding-top: 60px;
    padding-bottom: 25px;
    background-color: #3B4964;
    height: 200vh;
}
tr {
    font-size: 16px;
    font-weight: bolder;
}

table {
    background-color: #FAFAFA;
    border-collapse: collapse;
    width: 1192px;
    height: 736px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

th {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

p {
    text-transform: uppercase;
}

.choose {
    font-size: 18px;
    color: #484848;
    margin-top: 55px;
    left: 89px;
    font-weight: bold;
}

.plan {
    font-size: 30px;
    color: #484848;
    margin-top: 10px;
    left: 50px;
    font-weight: bold;
}
.standart {
    background-color: #89C331;
    padding-top: 28px;
    padding-bottom: 25px;
}
.ultimate {
    background-color: #F04A56;
}

.premium {
    background-color: #20807C;
}

.prais {
    width: 278px;
    height: 78px;
    background-color: #FAFAFA;
}
.prais-dollar {
    left: 34px;
    position: relative;
    font-size: 60px;
    font-weight: bold;
}

sup {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    right: -27px;
}

.month {
    font-size: 18px;
    position: relative;
    right: 11px;
    font-weight: normal;
}

.border-shadow {
    color: #848484;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    box-shadow: 0 0px 0px rgba(84, 84, 84, .4),
    0px 0 0px -23px rgba(84, 84, 84, .4),
    18px 0 0px -24px rgba(84, 84, 84, .4),
    0 0 27px rgba(84, 84, 84, 0.1) inset;
}

.limited {
    color: #848484;
}
.icon {
    padding-right: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #848484;
}

tr:nth-child(2) {
    background: #E3E3E3;
}

.color-line {
    background: #fafafa;
}

tr:nth-child(1) {
    background: #F2F2F2;
}

tr:nth-child(4) {
    background: #E3E3E3;
}

tr:nth-child(6) {
    background: #E3E3E3;
}

.button-contact {
    padding: 20px 44px 17px 46px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 31px auto;
    background-color: #484848;
    border-bottom: 8px solid #393939;
    color: #fff;
    border-radius: 5px;
    height: 50px;
}

.standart-button {
    padding: 20px 57px 17px 59px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 31px auto;
    background-color: #89C331;
    border-bottom: 8px solid #79b031;
    color: #fff;
    border-radius: 5px;
    height: 50px;
}

.ultimate-button {
    padding: 20px 57px 17px 59px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 31px auto;
    background-color: #F04A56;
    border-bottom: 8px solid #D40000;
    color: #fff;
    border-radius: 5px;
    height: 50px;
}

.premium-button {
    padding: 20px 57px 17px 59px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 31px auto;
    background-color: #20807C;
    border-bottom: 8px solid #1A6865;
    color: #fff;
    border-radius: 5px;
    height: 50px;
}
.button-contact a {
    text-decoration: none;
    color: #fff;
}

.standart-button a {
    text-decoration: none;
    color: #fff;
}

.ultimate-button a {
    text-decoration: none;
    color: #fff;
}

.premium-button a {
    text-decoration: none;
    color: #fff;
}

.button-contact:hover {
    border-bottom: none;
    background: linear-gradient(to bottom, #484848, #7D7D7D);
}

.standart-button:hover {
    border-bottom: none;
    background: linear-gradient(to bottom, #89C331, #A4C376);
}

.ultimate-button:hover {
    border-bottom: none;
    background: linear-gradient(to bottom, #F04A56, #F07373);
}

.premium-button:hover {
    border-bottom: none;
    background: linear-gradient(to bottom, #20807C, #6ECECA);
}

