body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

container {
    display: flex;
    border: 4px solid #eeeeee;
}

h1 {
    text-align: center;

}
.var {
    width: 32%;
    border-right: 4px solid #eeeeee;
    padding: 10px;
}

.let {
    width: 32%;
    border-right: 4px solid #eeeeee;
    padding: 10px;
}

.const {
    width: 32%;
    padding: 10px;
}
h3 {
    color: green;
}

.otvet-1 {
    font-size: 18px;
}

.otvet-2 {
    font-size: 18px;
    border: 4px solid #eeeeee;
    padding: 25px;
}

span {
    font-weight: bold;
    color: green;
    text-transform: uppercase;
}