.calendar, .forum, .sjourney, .caledar-green, .forum-green, .sjourney-green{
	background: url(sprites.png) no-repeat;
}

.caledar{
	background-position: 0 -1px;
	width: 19px;
	height: 19px;
}

.forum{
	background-position: -25px 0;
	width: 28px;
	height: 20px;
}

.sjourney{
	background-position: -60px 0;
	width: 20px;
	height: 20px;
}

.caledar-green{
	background-position: 0 -23px ;
	width: 19px;
	height: 19px;
}

.forum-green{
	background-position: -25px -22px ;
	width: 28px;
	height: 20px;
}

.sjourney-green{
	background-position: -60px -22px ;
	width: 20px;
	height: 20px;
}

