@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Roboto-Light', sans-serif, Arial;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.header {
    margin: 0 auto;
    text-decoration: none;
}

.logo {
    font-size: 36px;
    text-align: left;
    width: 292px;
}

.logo a {
    text-decoration: none;
    color: #160001;
}

#ramda {
    color: #51CBFD;
}

.topnav {
    background: #35444F;
    text-align: center;
}

.topnav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 25px 50px;
}

.topnav a:hover {
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    color: orange;
    background: #222F3A;
}

.left-nav ul {
    display:table;
}

.left-nav li {
    display: table-row;
}

.left-nav {
    width: 344px;
    height: 399px;
    text-decoration: none;
    border: 2px solid #35444F;
    margin-top: 25px;
    float: left;
}

.left-nav a {
    text-decoration: none;
    color: #35444F;
    font-size: 30px;
    width: 344px;
    height: 80px;
    padding:0 40px;
    display:table-cell;
    vertical-align:middle;
}

li:hover {
    background: #DBDBDB;
}
.left-nav a:hover {
    font-weight: bold;
    color: #3A3A3A;
    padding: 0px 15px 0px 15px;
}

.image-wrapper {
    width: 885px;
    height: 529px;
    border: 2px solid #35444F;
    margin-top: 25px;
    float: right;
    position: relative;
}

.top-img {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(0, -50%);
}

.text-main {
    width: 815px;
    float: right;
    position: relative;
    margin-top: 50px;
}

#text-top {
    text-align: left;
    color: #2C2C2C;
    font-size: 18px;
    padding-right: 40px;
    font-weight: bold;
}

#text-bottom {
    margin-top: 30px;
    text-align: left;
    color: #2C2C2C;
    font-size: 18px;
    padding-right: 40px;
    font-weight: bold;
}

.footer {
    width: 1280px;
    display: inline;
    float: right;
}

.footer-nav {
    background: #63696E;
    text-align: left;
    padding: 25px;
    margin: 51px 0 30px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
}

.footer-nav a:hover {
    color: #51CBFD;
    border-bottom: 2px solid #51CBFD;
}

#copyright {
    display: inline-block;
    text-decoration: none;
    text-align: right;
    padding: 0 36px;
    margin-left: 60px;
    font-size: 24px;
    color: #0C1927;
}